<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<security:debug />

	<security:global-method-security secured-annotations="enabled" pre-post-annotations="enabled"/>
	
	<security:http pattern="/resources/**" security="none" />
	
	<security:http use-expressions="true">
		<security:intercept-url pattern="/admin/**" access="hasRole('ROLE_SUPERVISOR')" />
		<security:intercept-url pattern="/**" access="permitAll()"/>
		<security:form-login />
		<security:logout logout-success-url="/" delete-cookies="JSESSIONID" />
		<security:remember-me />
	</security:http>
	
	<security:authentication-manager>
		<security:authentication-provider>
			<security:user-service>
				<security:user name="admin" password="admin123" authorities="ROLE_SUPERVISOR"/>
				<security:user name="izeye" password="izeye345" authorities="ROLE_USER"/>
			</security:user-service>
		</security:authentication-provider>
	</security:authentication-manager>
</beans>
