<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctb.pilot.study.algorithm.dao.mybatis.AlgorithmContestMapper">

	<resultMap id="algorithmProblem" type="AlgorithmProblem">
		<id column="contest_seq" property="contestSequence" />
		<id column="problem_id" property="problemId" />
		<id column="title" property="title" />
		<id column="url" property="url" />
		<id column="created_time" property="createdTime" />
		<id column="modified_time" property="modifiedTime" />
	</resultMap>
	
	<insert id="insertHistory">
		INSERT INTO
			tb_algorithm_contest_history (user_seq, contest_seq, problem_id, submit_id, submit_time, runtime, language_seq, source_url, created_time)
		values (
			#{userSequence}, #{contestSequence}, #{problemId}, #{submitId}, #{submitTime}, #{runtime}, #{languageSequence}, #{sourceUrl}, now() 
		)
	</insert>
	
	<select id="getAllProblems" resultType="algorithmProblem">
		SELECT *
		FROM TB_ALGORITHM_PROBLEM
		ORDER BY PROBLEM_ID
	</select>
	
	<select id="getLeaderboard" resultType="LeaderboardEntry">
		SELECT
			@rn:=@rn+1 AS rank, nickname, point
		FROM
			(
				SELECT
					nickname, COUNT(1) AS point
				FROM
					(SELECT user_seq, problem_id FROM tb_algorithm_contest_history GROUP BY user_seq, problem_id) t,
					tb_user u
				WHERE
					t.user_seq = u.seq
				GROUP BY
					t.user_seq
				ORDER BY
					point DESC, nickname ASC
			) t1,
			(SELECT @rn:=0) t2;
	</select>
</mapper>