<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctb.pilot.util.qrcode.dao.mybatis.QRCodeMapper">
	<resultMap id="qrCodeGenerationLog" type="QRCodeGenerationLog">
		<id column="seq" property="sequence" />
	</resultMap>
	<insert id="insertQRCodeGenerationLog" parameterType="com.ctb.pilot.util.qrcode.model.QRCodeGenerationLog">
		INSERT INTO tb_qrcode_history (text, width, height, created_time, ip)
				VALUES (#{text}, #{width}, #{height}, NOW(), #{ip})
	</insert>
	<select id="getAllQRCodeGenerationLogs" resultMap="qrCodeGenerationLog">
		SELECT * FROM tb_qrcode_history ORDER BY seq DESC
	</select>
</mapper>