<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctb.pilot.user.dao.mybatis.UserMapper">
	<resultMap id="userResultMap" type="User">
		<id property="sequence" column="seq" />
		<result property="deleted" column="del_yn"/>
	</resultMap>
	<select id="login" resultMap="userResultMap">
		select * from tb_user where user_id=#{userId} and password=#{password}
	</select>
	<select id="getUserBySequence" parameterType="java.lang.Integer" resultMap="userResultMap">
		select * from tb_user where seq=#{sequence}
	</select>
	<select id="getUserByFacebookUsername" parameterType="java.lang.String" resultMap="userResultMap">
		select * from tb_user where facebook_username=#{facebookUsername}
	</select>
	<insert id="signUp">
		insert into tb_user (user_id, password, nickname, image, join_date)
				values (#{userId}, #{password}, #{nickname}, #{image}, now())
	</insert>
	<insert id="signUpByFacebook">
		insert into tb_user (user_id, password, nickname, facebook_username, join_date)
				values (#{userId}, '*', #{nickname}, #{facebookUsername}, now())
	</insert>
	<update id="update">
		update tb_user set password=#{password}, nickname=#{nickname} where seq=#{sequence}
	</update>
	<select id="getAllUsers" resultMap="userResultMap">
		select * from tb_user;
	</select>
	
	<select id="getAllStaff" resultMap="userResultMap">
		select * from tb_user where role = "staff";
	</select>
</mapper>