<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctb.pilot.stat.dao.mybatis.VisitLogMapper">
	<insert id="insertVisitLog" parameterType="com.ctb.pilot.stat.model.VisitLog">
		INSERT INTO tb_visit_log (visit_date, ip, uri, referer, user_agent)
				VALUES (NOW(), #{ip}, #{uri}, #{referer}, #{userAgent})
	</insert>
	<select id="getDailyVisitLogs" resultType="com.ctb.pilot.stat.model.DailyVisitLog">
		SELECT SUBSTR(visit_date, 1, 10) day, COUNT(1) count
				FROM tb_visit_log WHERE uri != '/services/chat' GROUP BY day ORDER BY day DESC
	</select>
	<select id="getDailyVisitIpLogs" parameterType="java.lang.String"
			resultType="com.ctb.pilot.stat.model.VisitIpLog">
		SELECT ip, COUNT(1) count FROM tb_visit_log
				WHERE uri != '/services/chat' AND SUBSTR(visit_date, 1, 10) = #{day} GROUP BY ip ORDER BY count DESC
	</select>
	<select id="getDailyVisitIpLogsWithDayAndUri" resultType="com.ctb.pilot.stat.model.VisitIpLog">
		SELECT ip, COUNT(1) count FROM tb_visit_log
				WHERE uri != '/services/chat' AND uri = #{uri} AND SUBSTR(visit_date, 1, 10) = #{day} GROUP BY ip ORDER BY count DESC
	</select>
	<select id="getDailyVisitUriLogs" parameterType="java.lang.String"
			resultType="com.ctb.pilot.stat.model.VisitUriLog">
		SELECT uri, COUNT(1) count FROM tb_visit_log
				WHERE SUBSTR(visit_date, 1, 10) = #{day} GROUP BY uri ORDER BY count DESC
	</select>
	<select id="getDailyVisitUriLogsWithDayAndIpAddress" resultType="com.ctb.pilot.stat.model.VisitUriLog">
		SELECT uri, COUNT(1) count FROM tb_visit_log
				WHERE ip = #{ipAddress} AND SUBSTR(visit_date, 1, 10) = #{day} GROUP BY uri ORDER BY count DESC
	</select>
</mapper>