<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<typeAlias alias="User" type="com.ctb.pilot.user.model.User" />
		<typeAlias alias="Image" type="com.ctb.pilot.util.image.model.Image" />
		<typeAlias alias="Message" type="com.ctb.pilot.chat.model.Message" />
		<typeAlias alias="QRCodeGenerationLog" type="com.ctb.pilot.util.qrcode.model.QRCodeGenerationLog" />
	</typeAliases>
</configuration>