<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>pilot</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>chat-servlet</servlet-name>
  	<servlet-class>com.ctb.pilot.chat.service.ChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>chat-servlet</servlet-name>
  	<url-pattern>/services/chat</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>login-servlet</servlet-name>
  	<servlet-class>com.ctb.pilot.user.service.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>login-servlet</servlet-name>
  	<url-pattern>/services/user/login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>logout-servlet</servlet-name>
  	<servlet-class>com.ctb.pilot.user.service.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>logout-servlet</servlet-name>
  	<url-pattern>/services/user/logout</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>access-log-filter</filter-name>
  	<filter-class>com.ctb.pilot.common.filter.log.AccessLogFilter</filter-class>
  	<init-param>
  		<param-name>REQUEST_LOG_FILENAME</param-name>
  		<param-value>request.log</param-value>
  	</init-param>
  	<init-param>
  		<param-name>RESPONSE_LOG_FILENAME</param-name>
  		<param-value>response.log</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>access-log-filter</filter-name>
  	<url-pattern>*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>session-from-cookie-filter</filter-name>
  	<filter-class>com.ctb.pilot.common.filter.login.SessionFromCookieFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>session-from-cookie-filter</filter-name>
  	<url-pattern>*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>login-check-filter</filter-name>
  	<filter-class>com.ctb.pilot.common.filter.login.LoginCheckFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>login-check-filter</filter-name>
  	<url-pattern>/services/chat/*</url-pattern>
  	<url-pattern>/services/admin/*</url-pattern>
  	<url-pattern>/services/user/profile/*</url-pattern>
  </filter-mapping>
  
  <error-page>
  	<error-code>500</error-code>
  	<location>/pilot/common/error.jsp</location>
  </error-page>
</web-app>